* ,*:before, *:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
}
.container > .row {
  width: 100%;
}
.container > .row:before,
.container > .row:after {
  content: "";
  display: block;
}
.container > .row:after {
  clear: both;
}
.container-fluid {
  width: 100%;
}
.container-fluid > .row {
  width: 100%;
}
.container-fluid > .row:before,
.container-fluid > .row:after {
  content: "";
  display: block;
}
.container-fluid > .row:after {
  clear: both;
}
.head {
  width: 100%;
  height: 100%;
  margin:0 auto;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.usethis {
  width: 100%;
  height: 11%;
  margin: 0 auto 10%;
}
.use {
  display: block;
  width: 30%;
  height: 16%;
  font-size: 60px;
  line-height: 50%;
  text-align: right;
  color: #000;
  float: left;
  padding: 3% 0;
  margin-left: 25%;
  font-family: "Leelawadee";
  transition: all 1s ease;
  margin-top: 10%;
}
.use:hover {
  transform: translate(10px, 0);
}
.this {
  display: block;
  width: 9%;
  float: left;
  font-size: 15px;
  line-height: 5%;
  text-align: left;
  color: #000;
  padding: 5% 0;
  font-family: "Comic Sans MS";
  margin-top: 10%;
}
.mylife {
  width: 100%;
  height: 8%;
  float: left;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #000;
  padding: 1% 1%;
  font-family: "Comic Sans MS";
  font-weight: bold;
}
.icon {
  width: 100%;
  height: 50px;
  margin: auto;
  float: left;
}
.facebook:hover,
.ins:hover,
.weixin:hover,
.email:hover {
  transform: rotate(360deg);
}
.facebook {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 30%;
  background: url("../img/f.png") no-repeat;
  transition: all 1s ease;
}
.ins {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 2%;
  background: url("../img/ins.png") no-repeat 0 1px;
  transition: all 1s ease;
}
.weixin {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 2%;
  background: url("../img/wechat.png") no-repeat 0 -1px;
  transition: all 1s ease;
}
.email {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 2%;
  background: url("../img/email.png") no-repeat;
  transition: all 1s ease;
}
.hi {
  width: 100%;
  height: 10%;
  color: #000;
  float: left;
  font-size: 54px;
  margin-top: 10%;
  padding: 0 0;
  font-weight: bold;
  text-align: center;
  font-family: "Leelawadee";
  transition: all 1s linear;
}
.hi:hover {
  transform: scale(0.9, 0.95);
}
.nav {
  width: 100%;
  height: 12%;
  background: #202428;
  position: fixed;
  left: 0;
  top: 0;
}
.navs {
  display: none;
}
.logo {
  width: 35%;
  height: 100%;
  float: left;
}
.uses {
  display: block;
  width: 70%;
  height: 100%;
  font-size: 60px;
  line-height: 50px;
  text-align: right;
  color: #99DD9A;
  float: left;
  padding: 3% 0;
  font-family: "Leelawadee";
}
.thiss {
  display: block;
  width: 20%;
  height: 80%;
  float: left;
  font-size: 15px;
  line-height: 5px;
  text-align: left;
  color: #99DD9A;
  padding-top: 10%;
  font-family: "Comic Sans MS";
}
.sort {
  width: 20%;
  height: 100%;
  color: #99DD9A;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  font-weight: bold;
  float: right;
  margin-right: 3%;
  cursor: pointer;
  position: relative;
}
.menu {
  width: 100%;
  height: 550px;
  background: #99DD9A;
  position: absolute;
  left: 0;
  top: 100%;
  overflow: hidden;
  display: none;
  z-index: 999;
}
.list {
  width: 100%;
  height: 20%;
  float: left;
  font-size: 35px;
  line-height: 100px;
  text-align: left;
  padding-left: 10%;
  cursor: pointer;
  color: #202428;
}
.list a {
  width: 100%;
  height: 100%;
  float: left;
  font-size: 35px;
  line-height: 100px;
  text-align: left;
  padding-left: 10%;
  cursor: pointer;
  color: #202428;
}
.list:hover {
  color: #999;
  background: #fff;
}
.list a:hover {
  color: #999;
  background: #fff;
}
.sorts {
  display: none;
}
.body {
  width: 100%;
  margin: auto;
  background: #DCFBD1;
}
.title {
  width: 100%;
  height: 15%;
  font-size: 27px;
  float: left;
  font-family: Leelawadee;
  color: #709A80;
  font-weight: bold;
  text-align: center;
  line-height: 130px;
}
.left {
  width: 45%;
  height: 75%;
  float: left;
}
.right {
  width: 45%;
  height: 75%;
  float: right;
}
#word {
  width: 80%;
  height: 60%;
  float: left;
  margin: 10% 15%;
}
.self {
  width: 50%;
  height: 8%;
  font-size: 13px;
  font-family: "微软雅黑";
  line-height: 25px;
  text-align: left;
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #666;
}
.eng {
  width: 80%;
  height: 4%;
  font-size: 14px;
  font-family: "Consolas";
  line-height: 15px;
  text-align: left;
  color: #999;
  margin-bottom: 20%;
}
.neirong {
  font-size: 15px;
  font-family: "微软雅黑";
  line-height: 25px;
  text-align: left;
  color: #8E9495;
  padding: 3% 0;
  padding-right: 5%;
}
.pic {
  width: 100%;
  height: 100%;
  margin: 3% 0;
}
#words {
  width: 80%;
  height: 60%;
  float: left;
  margin: 10% 0;
  resize: none;
  border: 0;
}
.zongjie {
  height: 8%;
  font-size: 13px;
  font-family: "微软雅黑";
  line-height: 16px;
  text-align: left;
  color: #666;
  margin-bottom: 20%;
}
.tiao {
  width: 90%;
  height: 8%;
  float: left;
  color: #fff;
  line-height: 30px;
  font-size: 15px;
  margin-top: 3%;
  background: #FF6D6B;
  font-family: DokChampa;
  padding-left: 5%;
  margin-bottom: 3% ;
  transition: transform .5s linear;
}
.tiao:hover {
  transform: scale(0.99, 0.95);
}
.stom {
  width: 100%;
  height: 100%;
  margin: auto;
}



/*第二屏*/
.imgbox{
  width: 50%;
  height:90%;
  margin: auto;
}
.imghigh{
  width: 100%;
  height:60%;
  float: left;
  margin-top: 10%;
}
.img1{
  width: 100%;
  height:33.3333%;
  float: left;
  display: block;
}
.imglow{
  width: 100%;
  height:40%;
  float: left;
  margin-bottom: 15%;
}
.img2{
  width: 100%;
  height:50%;
  float: left;
  display: block;
}

@media screen and (min-width: 800px) {
  .container {
    width: 100%;
  }
  .container > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-l-hide {
    display: block;
  }
  .col-m-hide {
    display: none;
  }
  .usethis{
    margin-top: 0;
  }
  .use {
    font-size: 80px;
    margin-top: 0;
  }
  .this {
    font-size: 20px;
    padding: 4% 0;
    margin-top: 0;
  }
  .mylife {
    font-size: 23px;
    line-height: 13px;
    margin-top: 0;
  }
  .facebook {
    margin-left: 40%;
  }
  .hi {
    font-size: 60px;
    margin-top: 5%;
  }
  .nav {
    height: 22%;
  }
  .uses {
    font-size: 80px;
    line-height: 100px;
  }
  .thiss {
    font-size: 20px;
    line-height: 25px;
  }
  .title {
    font-size: 60px;
    padding-top: 3%;
    height: 25%;
  }
  .self {
    width: 30%;
    font-size: 20px;
  }
  .eng {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5%;
  }
  .neirong {
    font-size: 16px;
    line-height: 30px;
  }
  .zongjie {
    font-size: 14px;
    margin-bottom: 0;
  }
  .tiao {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 18px;
    height: 10%;
  }
  .sort {
    line-height: 140px;
  }
  .sorts {
    display: none;
  }
  .imgbox{
    width: 70%;
    height:100%;
    margin: auto;
    overflow: hidden;
  }
  .imghigh{
    width: 100%;
    height:30%;
    float: left;
    margin-top: 5%;
  }
  .img1{
    width: 33.333%;
    height:100%;
    float: left;
    display: block;
  }
  .imglow{
    width: 100%;
    height:70%;
    float: left;
    margin-bottom: 15%;
  }
  .img2{
    width: 50%;
    height:100%;
    float: left;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
  }
  .container > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
  .usethis {
    margin: 0;
  }
  .use {
    font-size: 85px;
    margin-top: 0;
  }
  .this {
    font-size: 20px;
    padding-top: 4%;
    margin-top: 0;
  }
  .mylife {
    font-size: 23px;
    padding-top: 0;
    height: 30px;
  }
  .facebook {
    margin-left: 40%;
  }
  .hi {
    font-size: 80px;
  }
  .nav {
    display: none;
  }
  .navs {
    display: block;
    width: 100%;
    height: 15%;
    background: #202428;
    margin: auto;
    position: relative;
  }
  .logo {
    width: 35%;
    height: 100%;
    float: left;
  }
  .uses {
    width: 40%;
    height: 100%;
    font-size: 80px;
    line-height: 50px;
  }
  .thiss {
    height: 100%;
    font-size: 18px;
    padding-top: 3%;
  }
  .left {
    width: 50%;
  }
  #word {
    margin: 10% 25%;
    width: 60%;
  }
  .neirong {
    line-height: 35px;
    margin-top: 8%;
  }
  .title {
    padding-top: 2%;
  }
  .self {
    width: 20%;
  }
  .neirong {
    font-size: 17px;
    padding-top: 0;
  }
  .zongjie {
    font-size: 18px;
  }
  .sorts {
    display: block;
    width: 40%;
    height: 100%;
    float: right;
    margin-right: 0;
    margin-right: 3%;
  }
  .menus {
    width: 80%;
    height: 100%;
  }
  .lists {
    width: 20%;
    height: 100%;
    float: left;
    font-size: 33px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    color: #DCFBD1;
    transition: all 1s ease;
  }
  .lists:hover {
    color: #999;
    background: #fff;
    transform: scale(0.95, 0.98);
  }
  .imgbox{
    width: 70%;
    height:100%;
    margin: auto;
    overflow: hidden;
  }
  .imghigh{
    width: 100%;
    height:30%;
    float: left;
    margin-top: 5%;
  }
  .img1{
    width: 33.333%;
    height:100%;
    float: left;
    display: block;
  }
  .imglow{
    width: 100%;
    height:70%;
    float: left;
    margin-bottom: 15%;
  }
  .img2{
    width: 50%;
    height:100%;
    float: left;
    display: block;
  }
}
.container > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container-fluid > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container-fluid > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container-fluid > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container-fluid > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container-fluid > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container-fluid > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container-fluid > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container-fluid > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container-fluid > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container-fluid > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container-fluid > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.container-fluid > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.col-s-hide {
  display: none;
}
