
html, body {
    margin: 0;padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../img/g.jpg") no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  body {
    font-size: 70%;
  }
}

@font-face {
    font-family: 'iconfont';  /* project id 182909 */
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}

.icons{
    width:1em;
    height:1em;
    vertical-align:0.25em;
    fill: currentColor;
    text-align: left;
    overflow: hidden;font-size: 50px;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.5s;
          transition: transform 1.5s;
  -webkit-perspective: 3000;
          perspective: 3000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.wrapper .page {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(180deg) scale(0.3);
          transform: rotateX(180deg) scale(0.3);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s ease-in-out;
          transition: transform 1s ease-in-out;
  will-change: transform;
    overflow: hidden;
}
.wrapper .page h2 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
  font-size: 3em;
}
.wrapper .page.page1 {
  background-color: #66a6b8;
  background-image: -webkit-linear-gradient(-280deg, #66a6b8 20%, #5471B9 80%);
  background-image: -webkit-linear-gradient(80deg, #66a6b8 20%, #5471B9 80%);
  background-image: linear-gradient(10deg,#66a6b8 20%, #5471B9 80%);
}
.wrapper .page.page2 {
  background-color: #93B9DE;
  background-image: -webkit-linear-gradient(-315deg, #ccccff 0%,#99ccff 50%, #ccccff 100%);
  background-image: -webkit-linear-gradient(45deg, #ccccff 0%,#99ccff 50%, #ccccff 100%);
  background-image: linear-gradient(45deg,#ccccff 0%,#99ccff 50%, #ccccff 100%);
}
.wrapper .page.page3 {
  background-color: #23af56;
  background-image: -webkit-linear-gradient(-405deg, #23af56 0%, #67A79A 100%);
  background-image: -webkit-linear-gradient(315deg, #23af56 0%, #67A79A 100%);
  background-image: linear-gradient(135deg,#23af56 0%, #67A79A 100%);
}
.wrapper .page.page4 {
  background-color: #412F2F;
  background-image: -webkit-linear-gradient(-430deg, #ccccff 0%,#99ccff 50%, #ccccff 100%);
  background-image: -webkit-linear-gradient(290deg, #ccccff 0%,#99ccff 50%, #ccccff 100%);
  background-image: linear-gradient(160deg,#ccccff 0%,#99ccff 50%, #ccccff 100%);
}
.wrapper.active-page1 {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.wrapper.active-page1 .page.page1 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page2 {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.wrapper.active-page2 .page.page2 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page3 {
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
}
.wrapper.active-page3 .page.page3 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page4 {
  -webkit-transform: translateY(-300%);
      -ms-transform: translateY(-300%);
          transform: translateY(-300%);
}
.wrapper.active-page4 .page.page4 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page5 {
  -webkit-transform: translateY(-400%);
      -ms-transform: translateY(-400%);
          transform: translateY(-400%);
}
.wrapper.active-page5 .page.page5 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page6 {
  -webkit-transform: translateY(-500%);
      -ms-transform: translateY(-500%);
          transform: translateY(-500%);
}
.wrapper.active-page6 .page.page6 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page7 {
  -webkit-transform: translateY(-600%);
      -ms-transform: translateY(-600%);
          transform: translateY(-600%);
}
.wrapper.active-page7 .page.page7 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page8 {
  -webkit-transform: translateY(-700%);
      -ms-transform: translateY(-700%);
          transform: translateY(-700%);
}
.wrapper.active-page8 .page.page8 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page9 {
  -webkit-transform: translateY(-800%);
      -ms-transform: translateY(-800%);
          transform: translateY(-800%);
}
.wrapper.active-page9 .page.page9 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.wrapper.active-page10 {
  -webkit-transform: translateY(-900%);
      -ms-transform: translateY(-900%);
          transform: translateY(-900%);
}
.wrapper.active-page10 .page.page10 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.nav-panel {
  width:16px;
  height:96px;
  position: fixed;
  top: 50%;
  right: 2%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
          transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  will-change: transform, opacity;
}
.nav-panel.invisible {
  opacity: 0;
  -webkit-transform: translateY(-50%) scale(0.5);
      -ms-transform: translateY(-50%) scale(0.5);
          transform: translateY(-50%) scale(0.5);
}
.nav-panel ul {
  list-style-type: none;
}
.nav-panel ul .nav-btn {
  position: relative;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin-bottom: 0.5em;
  border: 0.12em solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: border-color, -webkit-transform 0.3s;
          transition: border-color, transform 0.3s;
  will-change: border-color, transform;

}
.nav-panel ul .nav-btn:after {
    content: "";
    display:block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transform:scale(0.3);
  background-color: #fff;
  opacity: 0;
  -webkit-transition: -webkit-transform, opacity 0.3s;
          transition: transform, opacity 0.3s;
  will-change: transform, opacity;
}
.nav-panel ul .nav-btn.active:after, .nav-panel ul .nav-btn:hover:after {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 1;
}
.nav-panel ul .nav-btn:hover {
  border-color: yellow;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.nav-panel ul .nav-btn:hover:after {
  background-color: yellow;
}
.nav-panel .scroll-btn {
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border: 0.2em solid #fff;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: border-color 0.3s;
          transition: border-color 0.3s;
}
.nav-panel .scroll-btn.up {
  top: -1.6em;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav-panel .scroll-btn.down {
  bottom: -1.2em;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.nav-panel .scroll-btn:hover {
  border-color: yellow;
}




/*第三屏*/
button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.6rem;
    bottom: 0;
}
.cd-image-block {
    position: relative;
}
.cd-image-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(52, 54, 66, 0.6);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-image-block.content-block-is-visible::before {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 768px) {
    .cd-image-block::before {
        display: none;
    }
}

.cd-images-list::before {
    content: 'mobile';
    display: none;
}
.cd-images-list > li {
    height: 250px;
    background: #979c9c url(../img/img-1.jpg) no-repeat center center;
    background-size: cover;
}
.cd-images-list > li:nth-of-type(2) {
    background: #338899 url(../img/img-4.jpg) no-repeat center center;
    background-size: cover;
}
.cd-images-list > li:nth-of-type(3) {
    background: #982b3c url(../img/img-3.jpg) no-repeat center center;
    background-size: cover;
}
.cd-images-list > li:nth-of-type(4) {
    background: #343642 url(../img/img-2.jpg) no-repeat center center;
    background-size: cover;

}
@media only screen and (min-width: 768px) {
    .cd-images-list::before {
        content: 'desktop';
    }
}
.cd-content-block {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.cd-content-block.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.cd-content-block > ul {
    height: 100%;
}
.cd-content-block > ul > li {
    position: absolute;
    height: 100%;
    padding: 2em;
    overflow-y: scroll;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
}
.cd-content-block > ul > li.is-selected {
    position: relative;
    opacity: 1;
    visibility: visible;
    -webkit-overflow-scrolling: touch;
}
.cd-content-block p span {
    width: 50%;
    height: 20%;
    color: #666;
    line-height: 0.2;
    font-weight: 700;
    font-size: 2.3rem;
    display: block;
}
.cd-content-block p em{
    width:80%;
    height:15%;
    display: block;
    background: #eee;
}
.cd-content-block p {
    width: 100%;
    height: 40%;
    margin-top: 10%;
    line-height: 1.6;
    color: #85868d;
    float: left;
    margin-top: 5%;
}
.cd-content-block .cd-close {
    position: fixed;
    top: 0;
    right: 0;
    height: 44px;
    width: 44px;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}
.cd-content-block .cd-close::after, .cd-content-block .cd-close::before {
    /* these are the 2 lines of the 'X' icon */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 24px;
    background-color: #343642;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.cd-content-block .cd-close::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.cd-content-block .cd-close::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.cd-content-block .cd-close.is-scaled-up {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.no-touch .cd-content-block .cd-close.is-scaled-up:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

@media only screen and (min-width: 768px) {
    .cd-content-block {
        /* reset style */
        position: static;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .cd-content-block > ul > li {
        /* reset style */
        opacity: 1;
        visibility: visible;
        padding: 4em 3em;
    }
    .cd-content-block > ul > li.overflow-hidden {
        /* this class is used during the animation (slider change) to hide the scrolling bar */
        overflow: hidden;
    }
    .cd-content-block h2 {
        font-size: 3rem;
    }
    .cd-content-block .cd-close {
        display: none;
    }
}

/* ----------------------------------------------

Desktop slider - both image and content blocks

---------------------------------------------- */
@media only screen and (min-width: 768px) {
    .cd-image-block,
    .cd-content-block {
        /* slider style - desktop version only */
        width: 50%;
        float: left;
        height: 100vh;
        overflow: hidden;
    }
    .cd-image-block > ul,
    .cd-content-block > ul {
        position: relative;
        height: 100%;
    }
    .cd-image-block > ul > li,
    .cd-content-block > ul > li {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        /* by default, the items are moved to the right - relative to their parent elements */
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: -webkit-transform 0.5s;
        -moz-transition: -moz-transform 0.5s;
        transition: transform 0.5s;
    }
    .cd-image-block > ul > li.is-selected,
    .cd-content-block > ul > li.is-selected {
        /* this is the visible item */
        position: absolute;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .cd-image-block > ul > li.move-left,
    .cd-content-block > ul > li.move-left {
        /* this is the item hidden on the left */
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
/* --------------------------------

Slider navigation

-------------------------------- */
.block-navigation {
    /* this is the slider navigation - desktop version only */
    display: none;
}
@media only screen and (min-width: 768px) {
    .block-navigation {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 50%;
    }
    .block-navigation::after {
        clear: both;
        content: "";
        display: table;
    }
    .block-navigation li {
        width: 50%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transition: background 0.2s;
        -moz-transition: background 0.2s;
        transition: background 0.2s;
    }
    .block-navigation li:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
    .block-navigation li:first-of-type {
        float: left;
    }
    .block-navigation li:last-of-type {
        float: right;
    }
    .block-navigation button {
        display: block;
        height: 100%;
        width: 100%;
        color: #ffffff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .block-navigation button.inactive {
        opacity: .3;
        cursor: not-allowed;
    }
}

/* --------------------------------

Javascript disabled

-------------------------------- */
@media only screen and (min-width: 768px) {
    .no-js .cd-content-block {
        display: none;
    }

    .no-js .cd-image-block {
        width: 100%;
        overflow: visible;
    }

    .no-js .cd-images-list::after {
        clear: both;
        content: "";
        display: table;
    }

    .no-js .cd-images-list > li {
        position: static;
        width: 50%;
        float: left;
        height: 400px;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .no-js .cd-images-list > li.is-selected {
        position: static;
    }

    .no-js .cd-images-list > li > a {
        cursor: pointer;
        pointer-events: auto;
    }

    .no-js .block-navigation {
        display: none;
    }
}



/*第四屏*/
@font-face {
    font-family: 'abc';  /* project id 182909 */
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
h1{
    width:100%;
    height:20%;
    text-align: center;
    font-family: Leelawadee;
    line-height: 100px;
    font-size: 80px;
    color: #000;
    padding-top: 30px;
    float: left;
}
.aboutbody{
    width:100%;
    height:70%;
    float: left;
}
.about{
    width: 18%;
    height: 50%;
    border-radius: 100%;
    background: #B344F1;
    font-size: 80px;
    text-align: center;
    line-height: 250px;
    font-family: "abc";
    color: #fff;
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    cursor: pointer;
}
.about:hover{
    background: #FC1CA5;
}
.about1:before{
    content: "\e653";
}
.about2:before{
    content: "\e651";
}
.about3:before{
    content: "\e654";
}